<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>News Article evaluation</title>

    </head>

    <body>

        <header>
            <div class="">
                <img src="https://www.pikpng.com/pngl/b/30-304461_generic-placeholder-image-generic-business-logo-clipart.png" alt = "logo">
            </div>
            <div class="">
                Evaluate News Article through NLP
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Enter a news article URL to evaluate">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <em>Form Results:</em>
                <div id="status"></div>
                <div id="agreement"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="model"></div>
                <div id="score_tag"></div>
                <div id="subjectivity"></div>



            </section>
        </main>

        <footer>
            <p>Copyright 2022 M. A. Soliman</p>
        </footer>

    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
</html>
